/*------------Titles----------*/
.sub_title {
	font: normal 14px/1 Arial;
	text-align:center;
	margin-top:15px;
}

.eln_title {
	font: normal 16px/1 Verdana, Geneva, sans-serif;
	text-align:center;
	margin-top:50px;
	font-weight: bold;
}



/*------------ Page Eln Header -------------*/
.page_eln_header {
	font: normal normal bold 14px/1 Verdana, Geneva, sans-serif;
	text-align:center;
	background: rgba(229,229,229,1);
	border: none;
	min-width: 100%;
	height: 34px;
	position: fixed;
	margin: 0px auto;
	top:0;
	right:0;
	display:inline;
	z-index: 3;
}

.page_header_title_box {
	text-align:center;
    	margin: auto;
    	width: 60%;
	  position: relative;
	  top: 50%;
	  transform: translateY(-50%);

}

.page_header_action_box {
	float: right;
	right: 12px;
	position: relative;
	  top: 50%;
	  transform: translateY(-50%);
	position: absolute;
}


.page_header_logo_box {
	float: left;
	left: 12px;
	position: relative;
	  top: 50%;
	  transform: translateY(-50%);
	position: absolute;
}

/*------------ Page Body -------------*/
.page_body {
	margin-top: 20px;
}

/*------------ Page Footer -------------*/

.page_footer {
	position: absolute;
	min-width: 100%;
	height: 34px;
	bottom:0; 
	right:0;
	display:block;
	background: rgba(229,229,229,1);
   	width:100%;
}

.page_container{
   	min-height:100%; 
   	position:absolute;
	width:100%;
	right:0;
	top:0;	
}

.editor_container{
	margin:auto;
	width:90%;"
}

/*------------ Editor -------------*/

.show_window {
  	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;
  	/*width: 80%;*/
  	position: relative;
  	margin: auto auto 2%;
  	padding: 16px;
  	overflow: auto;
  	border: 1px double;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
  	color: rgba(0,0,0,1);
  	-o-text-overflow: ellipsis;
  	text-overflow: ellipsis;
  	-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  	box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
	background-color: rgba(255,255,255,1);
}

.show_data_window {
	border: 1px solid black;
	padding: 40px;
	width: 90%;
	margin: auto;
	display: flex;
	overflow:auto;	
	height:300px;
	background-color: rgba(255,255,255,1);
}

.date_header_text {
	display:inline-block;
	text-align:right;
	vertical-align: middle;
	margin: 3px;
	font: normal 11px/1 Verdana, Geneva, sans-serif;

}

.last_modify_header_text {
	display:inline-block;
	text-align:right;
	vertical-align: middle;
	margin: 3px;
	font: normal 11px/1 Verdana, Geneva, sans-serif;
	color: red;

}

.erratum_header_text{
	display:inline-block;
	font: normal 11px/1 Verdana, Geneva, sans-serif;
	text-align:right;
	margin-left: 25px;
	margin-top: 2px;
}

/* entry header css creaed with http://enjoycss.com/qu1#box */

.entry_header_box {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 85%;
	top: 20px;
	margin: 3% auto auto;
	padding: 5px;
	overflow: hidden;
	border: 1px solid rgba(180,180,180,0.7);
	border-bottom-width: 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	font: normal 16px/1 "Times New Roman", Times, serif;
	color: rgba(0,0,0,1);
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	background: -webkit-linear-gradient(0deg, rgba(220,220,220,0.72) 0, rgba(255,255,255,0.7) 96%, rgba(255,255,255,0.7) 100%);
	background: -moz-linear-gradient(90deg, rgba(220,220,220,0.72) 0, rgba(255,255,255,0.7) 96%, rgba(255,255,255,0.7) 100%);
	background: linear-gradient(90deg, rgba(220,220,220,0.72) 0, rgba(255,255,255,0.7) 96%, rgba(255,255,255,0.7) 100%);
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
	-webkit-box-shadow: 1px 0 0 0 rgba(0,0,0,0.3) ;
	box-shadow: 1px 0 0 0 rgba(0,0,0,0.3) ;

}


.message_box {
	  -webkit-box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;
	  width: 50%;
	  height: 12%;
	  margin: 15% auto auto;
	  padding: 30px 20px 20px;
	  overflow: hidden;
	  border: none;
	  -webkit-border-radius: 1px;
	  border-radius: 1px;
	  font: normal 16px/0 Verdana, Geneva, sans-serif;
	  color: rgba(0,0,0,1);
	  text-align: center;
	  -o-text-overflow: ellipsis;
	  text-overflow: ellipsis;
	  background: -webkit-linear-gradient(0deg, rgba(220,220,220,1) 0, rgba(244,244,244,1) 100%);
	  background: -moz-linear-gradient(90deg, rgba(220,220,220,1) 0, rgba(244,244,244,1) 100%);
	  background: linear-gradient(90deg, rgba(220,220,220,1) 0, rgba(244,244,244,1) 100%);
	  background-position: 50% 50%;
	  -webkit-background-origin: padding-box;
	  background-origin: padding-box;
	  -webkit-background-clip: border-box;
	  background-clip: border-box;
	  -webkit-background-size: auto auto;
	  background-size: auto auto;
	  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
	  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
}

/*------------ Annotation -------------*/

.view_data_seperator {
	font: normal 16px/1 Verdana, Geneva, sans-serif;
	text-align:center;
	background: rgba(229,229,229,1);
	border: none;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 5px;
	margin:
}

.anno_top_title {
	font: normal 14px/1 Arial;
	text-align:center;
	margin-top:50px;
}

.anno_title {
	font: normal 16px/1 Verdana, Geneva, sans-serif;
	text-align:center;
	margin-top:15px;
	margin-bottom:25px;
	font-weight: bold;
}

/*------------ Show History -------------*/
.diff_table_window {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  	padding: 5px;
  	overflow: auto;
  	border: 1px double;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
  	color: rgba(0,0,0,1);
  	-o-text-overflow: ellipsis;
  	text-overflow: ellipsis;
  	-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  	box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ; 
	max-width: 95%;
	max-height: 85%;
	top: 100px;
  	position: absolute;
  	left: 50%;
  	transform: translate(-50%); 
}

/*diff table header*/

#diff_table_head {
	width: 100%;
	height: 50px;
	margin-right: auto;
	overflow: hidden;
	background: rgba(247,247,247,1);
	margin-top:40px;
}

#diff_table_head_left, #diff_table_head_center, #diff_table_head_right 	{
	height: 50px;
	float: left;
	position: relative;
	font: normal normal bold 14px/1 Verdana, Geneva, sans-serif;
}

#diff_table_head_left {
	width: 25%;
	background: rgba(229,229,229,1);
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

#diff_table_head_center {
	width: 50%;
}

#diff_table_head_right {
	width: 25%;
	background: rgba(229,229,229,1);
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.diff_table_head_el {
	  position: relative;
	  top: 50%;
	  transform: translateY(-50%);
}

/*center*/
#pos_update_button, #left_dropdown_box, #right_dropdown_box {
	height: 50px;
	float: left;
	position: relative;
}

#pos_update_button {
	text-align:center;
	width: 33.33%;
}
#left_dropdown_box  {
	float:left;
	width: 33.33%;
}
#right_dropdown_box {
	float:right;
	width: 33.33%;
}

/*------------ Settings -------------*/
.seperator {
	font: normal 16px/1 Verdana, Geneva, sans-serif;
	text-align:center;
	background: rgba(229,229,229,1);
	border: none;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 5px;
	margin-top: 45px;
}

.center_box {
    	margin: auto;
	margin-top: 50px;
    	width: 60%;
}



/*------------ Buttons -------------*/
/* Button css created via http://www.bestcssbuttongenerator.com/#/1*/

.button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:3px 16px;
	text-decoration:none;
	text-shadow:0px 1px 3px #ffffff;
	/*margin:20px 80px 20px 20px; */
	float:right;
	/*position:relative;*/

}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.button:active {
	position:relative;
	top:1px;
}


.question_mark {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:3px 4px;
	text-decoration:none;
}



.warning_button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 5px; 
	text-decoration:none;
}

.warning_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}

.warning_button:active {
	position:relative;
	top:1px;
}




.eye_button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:6px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-weight:bold;
	padding:2px 2px;
}

.eye_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.eye_button:active {
	position:relative;
	top:1px;
}

/*------------ Modal -------------*/

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; 
	z-index: 5; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.2);
}

/* Modal Header */
.modal-header {
	font: normal normal bold 13px/1 Verdana, Geneva, sans-serif;
	padding: 2px 16px;
	background-color: rgba(220,220,220,0.4);
	color: black;
	margin:0px:
}

.close:hover, .close:focus {
    color: #000000;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}
.close {
    /*position: absolute; */
    right: 12px; 
    color: #000000;
    float: right;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #ffffff;
}



/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
	padding: 2px 16px;
	background-color: rgba(220,220,220,0.4);
	color: black;
}

/* Modal Content */
.modal-content {
	position: relative;
	top: 20%;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 420px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-content-show_hist {
	position: relative;
	top: 10%;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}




